// SPDX-License-Identifier: MIT
/*
 * Verdin iMX8MP overlay - Native LVDS Display
 * Display Model: AT-T101QIH-45CP 10.1" 1280x800 LVDS
 *
 * Touchscreen capacitive: Goodix GT928
 * Carrier Board: Ipê Carrier Board
 * Kernel 5.x (TorizonOS 6.x)
 * 
 * Witte Technology LTDA - https://wittetech.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/../../arch/arm64/boot/dts/freescale/imx8mp-pinfunc.h>

/ {
	compatible = "toradex,verdin-imx8mp";
};

&{/} {
	backlight_lvds_native: backlight-lvds-native {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2s_2_d_out_dsi_1_bkl_en>;		
		brightness-levels = <0 45 63 88 119 158 203 255>;
		default-brightness-level = <4>;
		enable-gpios = <&gpio4 30 GPIO_ACTIVE_HIGH>;	/* Verdin GPIO4_IO30 (SODIMM 48) */
		pwms = <&pwm1 0 6666667 PWM_POLARITY_INVERTED>; /* Verdin PWM_1 (SODIMM 15) */
		status = "okay";
	};

	panel-lvds-native {
		compatible = "panel-lvds";
		backlight = <&backlight_lvds_native>;
		data-mapping = "vesa-24";
		height-mm = <136>;
		width-mm = <217>;

		panel-timing {
			clock-frequency = <68900000 71100000 73400000>;
			de-active = <1>;
			hactive = <1280 1280 1280>;
			hback-porch = <23 60 71>;
			hfront-porch = <23 60 71>;
			hsync-active = <0>;
			hsync-len = <15 40 47>;
			pixelclk-active = <1>; /* positive edge */
			vactive = <800 800 800>;
			vback-porch = <5 7 10>;
			vfront-porch = <5 7 10>;
			vsync-active = <0>;
			vsync-len = <6 9 12>;
		};

		port {
			panel_lvds_native_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};
};

&gpu_2d {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	clock-frequency = <100000>;
	
	touch@5d {
		compatible = "goodix,gt928";
		reg = <0x5d>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rst_int_gpios>;
		interrupt-parent = <&gpio5>; /* Verdin GPIO5_IO01 (SODIMM 46) */
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio4 31 GPIO_ACTIVE_LOW>; /* Verdin GPIO4_IO31 (SODIMM 44) */
		status = "okay";
	};

	touch2@14 {
		compatible = "goodix,gt928";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rst_int_gpios>;
		interrupt-parent = <&gpio5>; /* Verdin GPIO5_IO01 (SODIMM 46) */
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio4 31 GPIO_ACTIVE_LOW>; /* Verdin GPIO4_IO31 (SODIMM 44) */
		status = "disabled";
	};
};

&iomuxc {
	pinctrl_rst_int_gpios: gt928gpiosgrp {
		fsl,pins =
			<MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01 0x184>,	/* Verdin GPIO5_IO01 (SODIMM 46) */
			<MX8MP_IOMUXC_SAI3_TXFS__GPIO4_IO31 0x184>; /* Verdin GPIO4_IO31 (SODIMM 44) */
	};

	pinctrl_i2s_2_d_out_dsi_1_bkl_en: i2s2doutdsi1bklengrp {
		fsl,pins =
			<MX8MP_IOMUXC_SAI3_RXD__GPIO4_IO30		0x184>;	/* Verdin GPIO4_IO30 (SODIMM 48) */
	};
};

&lcdif2 {
	status = "okay";
};

&ldb {
	status = "okay";
};

&ldb_phy {
	status = "okay";
};

&lvds_out{
	remote-endpoint = <&panel_lvds_native_in>;
};

&mix_gpu_ml {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

/* Verdin PWM_2 */
&pwm2 {
	status = "okay";
};