// SPDX-License-Identifier: MIT
/*
 * Verdin AM62 overlay - MIPI-DSI Displays from HTMG
 * Display Models GBExxxWSH02CE: 
 *   - TDO GBE070WSH02CE 7" 1024x600 MIPI-DSI
 *   - TDO GBE101WSH02CE 10.1" 1024x600 MIPI-DSI
 *
 * Touchscreen capacitive: Goodix GT911
 * 
 * Carrier Board: Ipê Carrier Board
 * Kernel 6.6 (TorizonOS 7.x)
 * 
 * AM62 Display Architecture:
 *   SoC DPI → TC9594XBG (on-module) → DSI → Panel
 * 
 * I2C Bus Assignment (IPE Carrier Board):
 *   - SN65DSI83 bridge: main_i2c1 (Verdin I2C_1)
 *   - GT911 touchscreen: main_i2c2 (Verdin I2C_2_DSI)
 * 
 * GPIO Mapping:
 *   - SODIMM 21 (DSI_1_BKL_EN) = main_gpio0 30 → Bridge Enable
 *   - SODIMM 17 (DSI_1_INT#) = main_gpio1 49 → Touch INT
 *   - SODIMM 19 (PWM_3_DSI) = epwm1 → Backlight PWM
 * 
 * Witte Technology LTDA - https://wittetech.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	compatible = "toradex,verdin-am62";
};

/* Panel LVDS and backlight definition */
&{/} {
	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <0 4 8 14 22 32 45 60 78 100 125 153 185 220 255>;
		default-brightness-level = <14>;
		/* Verdin PWM_3_DSI (SODIMM 19) */
		pwms = <&epwm1 0 6666667 0>;
		status = "okay";
	};

	panel_lvds: panel-lvds {
		compatible = "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "vesa-24";
		height-mm = <85>;
		width-mm = <154>;
		status = "okay";

		panel-timing {
			clock-frequency = <47250000>;
			de-active = <1>;
			hactive = <1024>;
			hback-porch = <64>;
			hfront-porch = <72>;
			hsync-active = <0>;
			hsync-len = <32>;
			pixelclk-active = <1>;
			vactive = <600>;
			vback-porch = <15>;
			vfront-porch = <15>;
			vsync-active = <0>;
			vsync-len = <8>;
		};

		port {
			panel_in_lvds: endpoint {
				remote-endpoint = <&lvds_out_panel>;
			};
		};
	};
};

/* DSI Bridge - TC9594XBG on-module */
&dsi_bridge {
	status = "okay";
};

/* DSI Bridge output ports */
&dsi_bridge_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	port@1 {
		reg = <1>;

		mipi_dsi_bridge_out: endpoint {
			remote-endpoint = <&dsi_lvds_bridge_in>;
		};
	};
};

/* Display SubSystem */
&dss {
	status = "okay";
};

/* Verdin PWM_3_DSI */
&epwm1 {
	status = "okay";
};

/* Verdin I2C_1 - SN65DSI83 bridge */
&main_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* TI SN65DSI83 MIPI-DSI to LVDS bridge */
	bridge@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsi1_bkl_en>;
		/* Verdin DSI_1_BKL_EN (SODIMM 21) - Bridge Enable */
		enable-gpios = <&main_gpio0 30 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* DSI input from on-module bridge */
			port@0 {
				reg = <0>;

				dsi_lvds_bridge_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mipi_dsi_bridge_out>;
				};
			};

			/* LVDS output to panel */
			port@2 {
				reg = <2>;

				lvds_out_panel: endpoint {
					remote-endpoint = <&panel_in_lvds>;
				};
			};
		};
	};
};

/* Verdin I2C_2_DSI - Touchscreen */
&main_i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* Goodix GT911 touchscreen at 0x14 address */
	goodix_ts_14: gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsi1_int>;
		/* Verdin DSI_1_INT# (SODIMM 17) */
		interrupt-parent = <&main_gpio1>;
		interrupts = <49 IRQ_TYPE_EDGE_FALLING>;
		status = "disabled";
	};

	/* Goodix GT911 touchscreen at 0x5D address */
	goodix_ts_5d: gt911@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dsi1_int>;
		/* Verdin DSI_1_INT# (SODIMM 17) */
		interrupt-parent = <&main_gpio1>;
		interrupts = <49 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};
};
