// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Verdin iMX8MM overlay - Displays from HTMG
 * Display Models GBExxxWSH02CE: 
 * 	- TDO GBE070WSH02CE 7" 1024x600 MIPI-DSI
 *	- TDO GBE101WSH02CE 10.1" 1024x600 MIPI-DSI
 *
 * Touchscreen capacitive: Goodix GT911
 * 
 * Carrier Board: Ipê Carrier Board
 * Kernel 6.6 (TorizonOS 7.4)
 * 
 * Witte Technology LTDA - https://wittetech.com/
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,verdin-imx8mm";
};

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/../../arch/arm64/boot/dts/freescale/imx8mm-pinfunc.h>

&{/} {
	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <0 4 8 14 22 32 45 60 78 100 125 153 185 220 255>;
		default-brightness-level = <15>;
		pwms = <&pwm1 0 6666667 0>;
		status = "okay";
	};

	lcd_gbexxxwsh02ce: lcd-gbexxxwsh02ce {
		compatible = "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "vesa-24";
		height-mm = <85>;
		width-mm = <154>;
		status = "okay";

		panel-timing {
			clock-frequency = <47250000>;
			hactive = <1024>;
			vactive = <600>;
			hback-porch = <64>;
			hfront-porch = <72>;
			hsync-len = <32>;
			vback-porch = <15>;
			vfront-porch = <15>;
			vsync-len = <8>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};

		port {
			panel_in_ts070wsh: endpoint {
				remote-endpoint = <&dsi_lvds_bridge_out>;
			};
		};
	};
};

&pwm1 {
	status = "okay";
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@1 {
		mipi_dsi_bridge_out: endpoint {
			attach-bridge;
			remote-endpoint = <&dsi_lvds_bridge_in>;
		};
	};
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* TI SN65DSI83 DSI-to-LVDS bridge */
	bridge@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		/* Verdin GPIO_10_DSI (SODIMM 21) */
		enable-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_10_dsi>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			/* DSI input */
			port@0 {
				reg = <0>;
				dsi_lvds_bridge_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mipi_dsi_bridge_out>;
				};
			};

			/* LVDS output */
			port@2 {
				reg = <2>;
				dsi_lvds_bridge_out: endpoint {
					remote-endpoint = <&panel_in_ts070wsh>;
				};
			};
		};
	};

	// Goodix GT911 touchscreen at 0x14 address
	goodix_ts_14: gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		// Verdin GPIO_9_DSI (TOUCH_INT#, SODIMM 17)
		interrupt-parent = <&gpio3>;
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_9_dsi>;
		status = "disabled";
	};

	// Goodix GT911 touchscreen at 0x5D address
	goodix_ts_5d: gt911@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		// Verdin GPIO_9_DSI (TOUCH_INT#, SODIMM 17)
		interrupt-parent = <&gpio3>;
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_9_dsi>;
		status = "okay";
	};
};
