// SPDX-License-Identifier: MIT
/*
 * Verdin iMX8MM overlay - SODIMM 56 as GPIO
 * 
 * This overlay disables QSPI and configures SODIMM 56 as GPIO.
 * 
 * Carrier Board: Ipê Carrier Board
 * Kernel 5.15 (TorizonOS 6.x)
 * 
 * Witte Technology LTDA - https://wittetech.com/
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,verdin-imx8mm";
};

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/../../arch/arm64/boot/dts/freescale/imx8mm-pinfunc.h>

/* Verdin QSPI_1 */
&flexspi {
	status = "disabled";
};

&iomuxc {
	pinctrl-0 = <&pinctrl_gpio1>, <&pinctrl_gpio2>,
		    <&pinctrl_gpio3>, <&pinctrl_gpio4>,
		    <&pinctrl_gpio7>, <&pinctrl_gpio8>,
		    <&pinctrl_gpio_hog2>, <&pinctrl_gpio_hog3>,
		    <&pinctrl_sodimm_56>;

	pinctrl_sodimm_56: witty56 {
		fsl,pins = 
			<MX8MM_IOMUXC_NAND_DATA00_GPIO3_IO6		0x184>; /* SODIMM 56 */
	};
};
