// SPDX-License-Identifier: MIT
/*
 * Verdin iMX8MM overlay - CAN interfaces
 * 
 * Carrier Board: Ipê Carrier Board
 * Kernel 5.15 (TorizonOS 6.x)
 * 
 * NOTE: The Verdin iMX8M Mini Quad 2GB Wi-Fi / Bluetooth IT (No CAN) 
 *       PN: 0068 does NOT have CAN support.
 * 
 * It's necessary to apply this overlay above the imx8mm-verdin-wifi-dev.dtb 
 * or imx8mm-verdin-nonwifi-dev.dtb because of the "nau8822_1a" device.
 * 
 * Witte Technology LTDA - https://wittetech.com/
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,verdin-imx8mm";
};

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/../../arch/arm64/boot/dts/freescale/imx8mm-pinfunc.h>

&nau8822_1a {
	status = "disabled";
};

&iomuxc {
	pinctrl-0 = <&pinctrl_gpio1>, <&pinctrl_gpio2>,
		    <&pinctrl_gpio3>, <&pinctrl_gpio4>,
		    <&pinctrl_gpio7>, <&pinctrl_gpio8>,
		    <&pinctrl_gpio_hog2>, <&pinctrl_gpio_hog3>,
		    <&pinctrl_can1_rs>, <&pinctrl_can2_rs>;

	pinctrl_can1_rs: can1rswitty {
		fsl,pins = 
			<MX8MM_IOMUXC_SAI1_RXD0_GPIO4_IO2		0x184>; // SODIMM 36
	};
	pinctrl_can2_rs: can2rswitty {
		fsl,pins =
			<MX8MM_IOMUXC_SAI3_TXC_GPIO5_IO0		0x184>; // SODIMM 42 
	};
};
